/assets/**/**
/runtime/**/**
*.sql
*.pyc
*.pyo
*.db
*~
.*
db.sqlite3
__pycache__
/htmlcov/
/coverage/
/build/
/*.egg-info/
MANIFEST

!.gitignore
!.isort.cfg
!.travis.yml
!.gitlab-ci.yml
!/assets/media/avatar/default.jpg
