{% extends "suit_dashboard/base.html" %}
{% block dashboard_css %}
    <link href="css.css" rel="stylesheet" type="text/css">
{% endblock %}
 {% block content %}
<html>
<body style="background: #79A7D8">
<div >
<h1>相关技能</h1>
            <ul>
                <li >熟练掌握语义化的 HTML 和具有兼容性的 CSS 模式，熟练手写符合 W3C 标准的结构和代码。</li>
                <li >对 可用性、可访问性、前端性能优化、最优实践 等有一定的了解和实践。</li>
                <li >对 HTML5 和 CSS3 有一定了解。</li>
                <li >熟练掌握 ST2 、Emmet、Sass 等等前端开发和团队协作工具。</li>
                <li >熟练掌握 jQuery，实现日常需要的交互效果。</li>
                <li >熟悉EXTJS，Nodejs，MySQl，有一定 PHP 后端相关知识。</li>
                <li >了解 Ajax 工作原理和实现方法。</li>
                <li >对前端canvas，svg有一定了解。</li>
                <li >了解手机前端开发jquerymobile，zeptojs及angularjs等。</li>
                <li >服务器使用阿里云ECS，对 Linux 有一定了解。</li>
                <li >喜欢接触新事物，有一定的自学能力。</li>
            </ul>
</div>
</html>
{%endblock%}

