{% include 'header.html' %}
<div id="code"></div>
<button id="butSub" class="butSub">发送退货请求</button>

<script type="text/javascript">


    $(function () {

        $('.butSub').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/push/',
                    data: {data: '{{ data | safe }}'},
                    success: function (result) {
                        if (result) {
                            $('#code').html('退货成功')
                        }
                    }
                });


        })
    });


</script>


{% include 'footer.html' %}